@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>School</h1>
   
</div>

<div class="row">
  
            <div class="col-md-4">

                <h2>Teachers</h2>

                <p><a class="btn btn-default" href="/User/Index">View teachers</a></p>

            </div>
       
        <div class="col-md-4">
            <h2>Students</h2>
            <p><a class="btn btn-default" href="/User/Student">View students</a></p>
        </div>
        <div class="col-md-4">
            <h2>Courses</h2>
            <p><a class="btn btn-default" href="/Courses/Index">View courses</a></p>
        </div>
        
    
</div>